<mat-toolbar>
  <h5>Add intent</h5>
  <span class="fill-remaining-space"></span>
  <button (click)='this.dialogRef.close()'>X</button>
</mat-toolbar>
<form [formGroup]="intentForm">
  <mat-horizontal-stepper #stepper linear formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="intentForm.get([0])">
      <ng-template matStepLabel>Choose intent type</ng-template>
      <mat-radio-group class="radio-group" formControlName="type">
        <mat-radio-button class="radio-button" value='simple' checked>
          Simple intent
        </mat-radio-button>
        <mat-radio-button class="radio-button" value='advanced' disabled>
          Advanced intent
        </mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="1" [stepControl]="intentForm.get([1])">
      <ng-template matStepLabel>Create simple intent</ng-template>
      <div>
        <mat-form-field>
          <textarea matInput placeholder="User says" formControlName="sayings" required rows="4">F</textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Bot anwsers" formControlName="answer" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="saveThenBackToList()" [disabled]="this.intentForm.invalid">Save</button>
        <button mat-button (click)="saveThenReset()" [disabled]="this.intentForm.invalid">Save and create new intent</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
