<div fxLayout="row">
  <div fxFlex="66%">
    <input type="text" placeholder="Search intent" />
  </div>

  <div fxFlex>
    <div>Nb intents : {{list.intents.length}}</div>
  </div>
  <div fxFlex>
    <button (click)='addIntentDialog()'>
      Add Intent
    </button>
    <!-- <button routerLink="/intents/add">
      Add Intent
    </button> -->
  </div>
</div>

<ul>
  <li *ngFor="let item of list.intents">
    <span>{{item.answer}}</span>
    <span> -------------- {{item.getDescription()}}</span>
  </li>
</ul>
