<div fxLayout="row">
  <div fxFlex="66%">
    <input type="text" placeholder="Search intent" />
  </div>

  <div fxFlex>
    <div>Nb intents : {{list.total}}</div>
  </div>
  <div fxFlex>
    <button>Add intent</button>
  </div>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
  </ng-container>
</mat-table>
<ul>
  <li *ngFor="let item of list.intents">
    <span>name : {{item.name}}</span>
    <span> --- sayings : {{item.getDescription()}}</span>
  </li>
</ul>
